
    
<!-- 
     LEARNING 1: 
     Voila - this is the HTML template, which has no idea, of what is the module it belongs
     neither the controller it is tied. 

     It does only one thing - Show the Content (VIEW) - Single Responsibility Principle 
 -->

        <div class="container">
			<div class="span2"></div>
        	<div class="well span8">
				    <h5> Inventory : Add More Books </h5>      
                    <span class="span2">Title :</span><input type="text" data-ng-model="newBook.title"></br>
                    <span class="span2">Author:</span><input type="text" data-ng-model="newBook.author"></br>
                    <span class="span2">Price:</span><input type="text" data-ng-model="newBook.price"></br>
                    <span class="span2">Publication Date:</span><input type="text" data-ng-model="newBook.publicationDate"></br>
                    <span class="span2">Image:</span><input type="text" data-ng-model="newBook.imgUrl" ng-switch="postImageFieldEntry()"></br>
                    <!-- <span ng-hide="newBook.hidePreview" class="picWidthHeight100 displayNone"> -->
                    <img ng-src="img/{{newBook.imgUrl}}" src="" />
                     
					
                    <!-- No controller here -->
                    <div class="leftTopMargin20"></div>

    <!-- LEARNING 2:  /books referred is the templates name and not the name of the HTML 
    -->

                    <a class="btn btn-primary leftTopMargin20" data-ng-click="addBook()" href="/books">Add Book</a>
					<!-- <span class="span4"></span> -->
                   <!--  <span class="span4"></span>
                    <a class="btn" href="#/books">Back To eStore</a> -->
            </div>
    </div>